.inicio2{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

    background-color: #2c2f33;
    color: white;
}
.conetent-command h1{
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
}
.conetent-command{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cards{
    display: flex;
    width: 1000px;
    margin-top: 150px;
    justify-content: space-between;
}

.card{
    background-color: #23272a;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    width: 300px;
    height: 400px;
    transition: .5s ease;

   

    border: 1px solid rgba(128, 128, 128, 0.685);
    box-shadow: 1px 1px 20px 1px #3f4244;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    
}
.content p{
    margin-top: 30px;
}

.card:hover{
    transform: translateY(-10px);
}