@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: #23272ad7;
    z-index: 9999999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    color: white;


}
.menu label{
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo2{
    height: 42px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px #5261f7;
 
    animation: pulse 5s ease-in-out infinite alternate;
}

@keyframes pulse {
    0%{
        box-shadow: 1px 1px 30px 5px #5260f7;

    }
    50%{
        box-shadow: 1px 1px 35px 5px #5260f7;

    }
    100%{
        box-shadow: 1px 1px 45px 5px #5260f7;

    }

    
    
}
.logo{
    font-family: 'Righteous', sans-serif;
    margin-left: 10px;
    font-size: 25px;
}
.menu-items{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.items{
    padding: 5px;
    transition: 0.5s ease;
   
}
.items:hover{
    opacity: 0.5;
}
.inicio{
    background-color: #2c2f33;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
   position: relative;
}

.logo_img{
    height: 300px;
    border-radius: 50%;
    animation: float 5s ease-in-out infinite;
    transform: translateY(0px);
}



@keyframes float {
    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(-30px);

    }

    100%{
        transform: translateY(0px);

    }
    
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    font-family: 'Poppins', sans-serif;

    width: 600px;


}

.conteudo h1{
    font-size: 100px;
}
.conteudo p{
   font-size: 15px;
   
    text-align: center;
}

.btn{
    width: 207px;
    border-radius: 40px;
    background-color: rgba(57,148,255,1);
    height: 60px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}
.btn:hover{
   opacity: 0.7;
   transform: translateY(-5px)
}



.footer{
    width: 100%;
    height: 40vh;
    background-color: #23272a;

    display: flex;
    align-items: center;
    justify-content: center;
}

.div-footer{
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    
    width: 500px;
    height: 200px;

}

.footer2{
    
 

    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
    font-size: 10px;

}

.label{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.footer img{
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 1px 1px 10px 3px #5261f7;

}

.footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;

     color: rgb(141, 141, 141);
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contents a{
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;

     color: rgb(141, 141, 141);
     transition: 0.5s ease;
}
.contents a:hover{
    color: rgba(96, 209, 246, 1);
}
.contents p{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.contents{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;

    margin: 25px;
}

.contents1{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 600px;
}

